
*{
    box-sizing: border-box;
}
body{
    background: rgb(29, 29, 29);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mainbox{
    text-align: center;
    display: flex;
    justify-content:space-around;
    border: 1px solid white;
    background-color: white;
    width: 620px;
    height: 320px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;


}
.mainbox p{
    line-height: 12px;
    font-size: 7.5px;
    color: rgb(91, 91, 91);
    margin: 0 20px;
    font-family: 'Railway',sans-serif;
}

.mainbox h2{
    text-transform: uppercase;
    color: red;
    font-size: 12px;
    margin: 10px 0px;
    font-family: 'roboto' ,sans-serif;
 
}

img{
    width:115px;
    height: 115px;
}


.one img{
    background: rgb(35, 196, 255);

}

.two img{
    background-color: rgb(0, 102, 255);

}
.three img{
    background: red;
}
.four img{
    background:grey ;
}
.one::before{
    content: "1";
    border: 2px solid rgb(35, 196, 255);
    background: white;
    color: rgb(35, 196, 255);
    position: relative;
    top: 5%; right: 36%;
    padding: 2px 7px;
    border-radius: 50%;

}

.two::before{
    content: "2";
    border: 2px solid rgb(0, 102, 255);
    background:white;
    color: rgb(0, 102, 255);
    position: relative;
    top: 5%; right: 36%;
    padding: 2px 7px  ;
    border-radius: 50%;
   
}
.three::before{
    content: "3";
    border: 2px solid  red;
    background: white;
    color: red;
    position: relative;
    top: 5%; right: 36%;
    padding: 2px 7px;
    border-radius: 50%;
    
}
.four::before{
    content: "4";
    border: 2px solid grey;
    background: white;
    color: grey;
    position: relative;
    top: 5%; right: 36%;
    padding: 2px 7px;
    border-radius: 50%;
}
