
*{
    box-sizing: border-box;
}
body{
    background: rgb(29, 29, 29);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mainbox{
    text-align: center;
    display: flex;
    justify-content:space-around;
    border: 1px solid white;
    background-color: white;
    width: 1000px;


}
.box{
  
}
.mainbox p{
    line-height: 15px;
    font-size: smaller;
    color: grey;
    margin: 0 45px;
}

.mainbox h6{
    text-transform: uppercase;
    color: red;
    font-size: 18px;
    margin: 10px 0px;
 
}

.one img{
    background: rgb(35, 196, 255);

}

.two img{
    background-color: rgb(0, 102, 255);
}
.three img{
    background: red;
}
.four img{
    background:grey ;
}

img{
    width: 140px;
    height: 140px;
}

.icon1{
    position: relative; top: 15px; left: 36px;
    width:  30px;
    height: 30px;
    border: 2px solid rgb(35, 196, 255);
    background: white;
    color: rgb(35, 196, 255);
    border-radius: 50%;
    padding: 3px 0px 0px 0px ;


 

}
.icon2{
    position: relative; top: 15px; left: 45px;
    width:  30px;
    height: 30px;
    border: 2px solid rgb(0, 102, 255);
    background: white;
    color: rgb(0, 102, 255);
    border-radius: 50%;
    padding: 3px 0px 0px 0px ;
  
}

.icon3{
    position: relative;top: 15px;left: 40px;
    width:  30px;
    height: 30px;
    border: 2px solid red;
    background: white;
    color: red;
    border-radius: 50%;
    padding: 3px 0px 0px 0px ;
  
 

}
.icon4{
    position: relative;top: 15px;left: 42px;
    width:  30px;
    height: 30px;
    border: 2px solid grey;
    background: white;
    color: grey;
    border-radius: 50%;
    padding: 3px 0px 0px 0px ;

 

}

